
<br><br>
<div class="w3-container w3-padding">
    <div class="w3-card-2 w3-container w3-padding w3-animate-top" style="width:40%;margin:auto">
    <p>
        <div  class="w3-panel w3-orange w3-center">
            {{ message }}
        </div>
    </p>
    <p>
        <label><b>USERNAME</b></label>
        <input type="text" ng-model="username" class="w3-input w3-border">
    </p>
    <p>
        <label><b>PASSWORD</b></label>
        <input type="password" ng-model="password" class="w3-input w3-border">
    </p>
    <p>
        <button class="w3-button w3-blue w3-right" ng-click="login()">LOGIN</button>
    </p>
    </div>
</div>