<div class="w3-container w3-padding">
    <input type="text" ng-model="search" placeholder="&#128269; search..." class="w3-padding w3-right"><br><br> 
					<table class='w3-table-all'>

						<tr>
							<th ng-repeat="h in headers">
								{{ h | uppercase }}
							</th>
						</tr>

						<tr ng-repeat="student in students | orderBy: 'lastname' | filter:search ">
							<td>{{ student.idno | uppercase}}</td>
							<td>{{ student.lastname | uppercase}}</td>
							<td>{{ student.firstname | uppercase}}</td>
							<td>{{ student.course | uppercase}}</td>
							<td>{{ student.level | uppercase }}</td>	
						</tr>


					</table>
</div>